body{
    width:100%;
    height:100%;
    background: linear-gradient(rgba(231, 150, 84, 0.5), rgba(242, 202, 118, 0.5) 25%, rgba(242, 202, 118, 0.5) 25%, rgba(179, 149, 121, 0.5) 40%, rgba(179, 149, 121, 0.5) 40%, rgba(143, 178, 200, 0.5) 75%, rgba(143, 178, 200, 0.5) 75%, rgba(75, 103, 140, 0.5));
}
.wrap{
    position:relative;
    width:600px;
    height:400px;
    margin:100px auto;
    perspective:1100px;
}

.carousel{
    width:100%;
    height:100%;
    position:absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    transform: translateZ( -490px) rotateY(0deg);
    animation: scroll 20s infinite;
}
@keyframes scroll {
    0% {
        transform: translateZ(-490px) rotateY(0deg);
    }
    100% {
        transform: translateZ(-490px) rotateY(360deg);
    }
}
.carousel figure{
    display:block;
    position:absolute;
    background-size:cover;
    width:350px;
    height:250px;
    left: 10px;
    top: 10px;
}
.carousel figure:nth-child(1){
    transform: rotateY( 0deg) translateZ(490px);
    background:url(../img/one.jpg);
     background-size:cover;
}
.carousel figure:nth-child(2){
    transform: rotateY( 40deg) translateZ(490px);
    background:url(../img/two.jpg);
    background-size:cover;
}
.carousel figure:nth-child(3){
    transform: rotateY( 80deg) translateZ(490px);
     background:url(../img/three.jpg);
     background-size:cover;
}
.carousel figure:nth-child(4){
    transform: rotateY( 120deg) translateZ(490px);
     background:url(../img/four.jpg);
     background-size:cover;
}
.carousel figure:nth-child(5){
    transform: rotateY(160deg) translateZ(490px);
     background:url(../img/five.jpg);
     background-size:cover;
}
.carousel figure:nth-child(6){
    transform: rotateY( 200deg) translateZ(490px);
     background:url(../img/six.jpg);
     background-size:cover;
}
.carousel figure:nth-child(7){
    transform: rotateY( 240deg) translateZ(490px);
     background:url(../img/seven.jpg);
     background-size:cover;
}
.carousel figure:nth-child(8){
    transform: rotateY( 280deg) translateZ(490px);
    background:url(../img/eight.jpg);
    background-size:cover;
}
.carousel figure:nth-child(9){
    transform: rotateY( 320deg) translateZ(490px);
    background:url(../img/nine.jpg);
    background-size:cover;
}